/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Variables
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
$dark-blue: #003478;
$light-blue: #79a5ff;
$gray: #F1F1E6;
$green: #007D58;
$cream: #FFF7D6;

$font-body: 'Muli', sans-serif;
$font-heading: 'Merriweather', serif;
$text-color: #333;
$heading-color: $dark-blue;

$default-radius: 4px;
$default-font-size: 18px;

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Mixins
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
@mixin default-transition{
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
@mixin default-box-shadow(){
    box-shadow: 0px 1px 2px #888;
}
@mixin default-text-shadow($shadow-color){
    text-shadow: 0 1px 2px darken($shadow-color, 20%);
}
@mixin btn($btn-color){
    background: $btn-color;
    border-radius: $default-radius;
    border-bottom: 2px solid darken($btn-color, 5%);
    border-top: 2px solid $btn-color;
    color: white;
    &:hover{
        background: lighten($btn-color, 5%);
        border-bottom: 2px solid lighten($btn-color, 2%);
        border-top: 2px solid lighten($btn-color, 7%);
    }
}


// Here we define the lower and upper bounds for each media size, only used as reference (from Zurb Foundation documentation):
$small-range: (0em, 40em); /* 0, 640px */
$medium-range: (40.063em, 64em); /* 641px, 1024px */
$large-range: (64.063em, 90em); /* 1025px, 1440px */
$xlarge-range: (90.063em, 120em); /* 1441px, 1920px */
$xxlarge-range: (120.063em); /* 1921px */
/*
Mixin for Media Queries ("breakpoints").
Based on this: http://css-tricks.com/media-queries-sass-3-2-and-codekit/
*/
@mixin breakpoint($point) {
	@if $point == xxlarge-range {
		@media (min-width: 120em) { @content; }
	}
	@else if $point == xlarge-range {
		@media (max-width: 120em) { @content; }
	}
	@else if $point == large-range {
		@media (max-width: 90em) { @content; }
	}
	@else if $point == medium-range {
		@media (max-width: 60em)  { @content; }
	}
	@else if $point == small-range {
		@media (max-width: 40em)  { @content; }
	}
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
* {
    -webkit-font-smoothing: subpixel-antialiased;
}
body{
    background-color: lighten($gray, 5%);

/*
    background-color: $gray;
    background-color: #f1f1e6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 900'%3E%3Cpath fill='%23f5f5e9' d='M0 504 0 899 1600 899 1600 120z'/%3E%3Cpath fill='%23f7f7ec' d='M1600 567 1600 899 0 899 0 165z'/%3E%3Cpath fill='%23fafaef' d='M0 680 0 899 1600 899 1600 300z'/%3E%3Cpath fill='%23fcfcf1' d='M1600 719 1600 899 0 899 0 353z'/%3E%3Cpath fill='%23fafaee' d='M0 788 0 899 1600 899 1600 625z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
*/

    background-color: #f7f7f7;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 900'%3E%3Cpath fill='%23fcfcfc' d='M0 504 0 899 1600 899 1600 120z'/%3E%3Cpath fill='%23f7f7f7' d='M1600 567 1600 899 0 899 0 165z'/%3E%3Cpath fill='%23f5f5f5' d='M0 680 0 899 1600 899 1600 300z'/%3E%3Cpath fill='%23f2f2f2' d='M1600 719 1600 899 0 899 0 353z'/%3E%3Cpath fill='%23f5f5f5' d='M0 788 0 899 1600 899 1600 625z'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
background-position: center;

}
body, p, span{
    color: $text-color;
    font-size: 18px;
    line-height: 1.5;
        line-height: 1.7;
    font-family: $font-body;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6{
    color: $heading-color;
    font-family: $font-heading;
    font-weight: 400;
    letter-spacing: -1px;
    //font-size: 46px;
    line-height: 1.2;
}
h1{
    color: $heading-color;
    font-family: $font-heading;
    font-weight: 900;
    letter-spacing: -1px;
    font-size: 60px;
}
h2,
h3{
    color: rgba($dark-blue, .6);
    color: rgba($dark-blue, 0.6);
    font-size: 40px;
}
h3{
    font-size: 30px;
    letter-spacing: 0;
}
a{
    @include default-transition;
    border-bottom: 2px solid $green;
    color: $green;
    //padding: 0 5px;
    &:visited{
        color: $green;
    }
    &:hover{
        background: $green;
        //border-radius: 100rem;
        color: white;
    }
}
.grid-x{
    margin-top: 2rem;
}
.panel{
    background-color: white;
    //border-top: 10px solid lighten($light-blue, 15%);
    border-radius: 4px;
    box-shadow: 0px 2px 10px #ddd;
    padding: 2.5rem;
    //margin: 1rem 0;
    &--no-gutters{
        padding: 0;
        margin: 0;
    }
    &__item{
        &--has-bg-image{
            align-items: flex-end;
            background: transparent url('/dist/images/leo-rivas-397551-unsplash.jpg') no-repeat center bottom;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 700px;
            .panel__heading{
                @extend h1;
                @include default-text-shadow($green);
                margin: 2rem 1rem;
                color: white;
            }
        }
    }
    &__paragraph{
        color: white;
    }
    &__heading{
        align-self: flex-start;
        max-width: 100%;
        padding: 50px;
        text-align: center;
        }
    &__copy{
        //background: rgba(#000, .5);
        align-self: flex-end;
        border-radius: 3px;
        margin: 1rem 0;
        padding: 1rem 5rem;
        text-align: center;
        width: 100%;
    }
}
.pillar{
    @include default-transition();
    display: block;
    &--clinical-care{
        margin-top: 2rem;
        text-align: center;
        border: 5px solid $gray;
        box-shadow: none;
        @include breakpoint(large-range) { padding: 1.5rem; }
        &__img{
            border-top: 5px solid $gray;
            border-bottom: 5px solid white;
            border-radius: 100rem;
            margin: -120px 0 20px;
            //padding: 5px;
            width: 150px;
        }
        p{
            font-size: 1rem;
            line-height: 1.5;
            text-align: justify;
            @include breakpoint(large-range) { line-height: 1.5; text-align: left; }
        }
    }
    &__heading{
        color: $green;
        font-size: 1.5rem;
    }
    &:hover{
        box-shadow: 0px 10px 40px #cdcdcd;
        background: rgba($green, 0.1%);
        transform: scale(1);
        margin-top: 1.7rem;
    }
    &:active{
        transform: scale(.99);
        //margin-top: 0rem;
    }
}
.btn{
    @include default-transition;
    @include btn($dark-blue);
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 5px 0;
    padding: 1rem 2rem;
    text-transform: uppercase;
    //text-shadow: 0 -2px 1px darken($green, 10%);
    white-space: nowrap;
    &:hover{
        box-shadow: 0px 0px 20px rgba(#000, 0.5);
        background-color: lighten($dark-blue, 15%);
        border-bottom: 2px solid lighten($dark-blue, 10%);
        border-top: 2px solid lighten($dark-blue, 15%);
        color: white;
    }
    &:visited{
        color: white;
    }
    &--green{
        @include btn($green);
    }
}
.palette{
    text-align: center;
}
.palette__swatches{
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.swatch{
    //border-radius: 5px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0%;
    &__name{
        background: white;
        width: 100%;
        margin-top: auto;
    }
}
.dark-blue{
    background: $dark-blue;
}
.light-blue{
    background: $light-blue;
}
.gray{
    background: $gray;
}
.green{
    background: $green;
}
.cream{
    background: $cream;
}

.menu{
    background: $dark-blue;
         background: $gray;
    font-weight: 600;
    margin: 1rem 0 4rem;
    li{
        margin: 0 0.5rem;
        a{
            color: white;
                color: $dark-blue;
            border-bottom: 0px solid white;
            //padding: 1rem 0;
            &:hover{
                background: $dark-blue;
                border-radius: $default-radius;
                color: white;
                box-shadow: 0px 5px 20px rgba(#000, 0.3);
            }
        }
    }
}
/*
.cell__2{
    background: transparent url('/dist/images/beatriz-perez-moya-111685-unsplash.jpg') no-repeat 0 0;
    background-size: contain;
}
*/
.grid-2__join-us{
    background:  transparent url('/dist/images/join-us-bg.jpg') repeat 0 0;
}
.panel__img{
    //background: $cream;
    border-bottom: 2px solid $light-blue;
    border-top: 2px solid $light-blue;
    margin: 0 0 1rem;
    padding: 2px 0;
}
.meta{
    color: rgba($dark-blue, 0.7);
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: -10px;
}