/*!------------------------------------------------------------------
08. Particles
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
Back to Top
-------------------------------------------------------------------*/

.vl-back-to-top
	display inline-block
	position fixed
	visibility hidden
	right 30px
	bottom 30px
	color rgba($black, 10%)
	font-size 34px
	z-index 20
	transition(all 200ms linear)

.vl-back-to-top.is-visible
	visibility visible
	opacity 1
	transform(translateY(0))
	
.vl-back-to-top.is-hidden
	visibility hidden
	opacity 0
	transform(translateY(20px))

@media (max-width: 767px)
	.vl-back-to-top
		display none


/*------------------------------------------------------------------
Owl Carousel
-------------------------------------------------------------------*/

.owl-carousel .owl-dots
	position absolute
	left 0
	bottom 0
	display inline-block
	padding 0 30px 30px
	
	.owl-dot
		position relative
		display inline-block
		height 3px
		width 30px
		background-color rgba($black, 50%)
		margin-right 6px
		overflow hidden
		&:last-child
			margin-right 0
			
	.owl-dot::after
		content ''
		position absolute
		top 0
		left 0
		height 100%
		width 100%
		transform-origin(right)
		transform(scaleX(0))
		transition(transform 300ms linear)
		
	.owl-dot.active::after
		transform-origin(left)
		transform(scaleX(1))

.vl-dots-center .owl-dots
	left 50%
	transform(translateX(-50%))
	
.vl-dots-right .owl-dots
	left auto
	right 0

.owl-carousel
	overflow hidden
	.owl-prev,
	.owl-next
		position absolute
		display inline-block
		top 50%
		left 0
		margin-top -30px
		width 30px
		height 60px
		line-height 60px
		font-size 18px
		color $white
		border-radius 0 3px 3px 0
		opacity 0
		text-align center
		transition(all 200ms linear)
		transform(translateX(-100%))

	.owl-next
		border-radius 3px 0 0 3px
		left auto
		right 0
		transform(translateX(100%))

.owl-carousel:hover
	.owl-prev,
	.owl-next
		opacity 1
		transform(translateX(0))
		

/*------------------------------------------------------------------
Page Title
-------------------------------------------------------------------*/

.vl-page-header
	
	.vl-page-header--inner
		padding-bottom 50px
		
	.vl-page-header--title
		margin 0 0 25px
		font-size 28px
		line-height 28px
	
	.vl-page-header--subtitle
		margin-bottom 0
		font-size 18px
		line-height 2rem
		color $lblack

/*------------------------------------------------------------------
Social Icon
-------------------------------------------------------------------*/

.vl-social-icon,
.vl-single-icon
	display inline-block
	height 25px
	width 25px
	line-height 25px
	text-align center
	margin-right 10px
	color $lblack
	background-color darken($lgray, 3%)
	font-size 14px
	border-radius(3px)
	&:last-child
		margin-right 0
	&:hover
		color $white
		box-shadow(inset 0 -2px 0 rgba($black, 0.08))


/*------------------------------------------------------------------
Preloader
-------------------------------------------------------------------*/

.vl-preloader-outer
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background-color $white
	z-index 888
	transition(all 300ms esae-in-out)
	.vl-preloader-inner
		position absolute
		top 50%
		left 50%
		height 80px
		width 80px
		margin-top -40px
		margin-left -40px
		border-radius 50%
		background-size cover
		background-repeat no-repeat
	

#nprogress
	pointer-events none
	.bar
		position fixed
		top 0		
		left 0
		width 100%
		height 2px
		z-index 889



/*------------------------------------------------------------------
Post Share
-------------------------------------------------------------------*/

.vl-post-share
	a
		display inline-block
		font-size 14px
		line-height 14px
		margin 0 4px

/*------------------------------------------------------------------
Pagination
-------------------------------------------------------------------*/

.vl-pagination
	margin-top 50px
	font-size 18px
	span,
	a
		margin 0 5px
	span.current
		cursor default

.vl-pagination-buttons
	margin-top 50px
	font-size 18px
	.prev-page i
		padding-right 4px
	.next-page i
		padding-left 4px
	.next-page
		float right

.vl-pagination-ajax
	margin-top 50px
	
.vl-btn-ajax-load
	position relative
	span
		position relative
		top 0
		color $white
		transition(all 200ms linear)
	span.icon
		position absolute
		top -100%
		left 0
		width 100%
		line-height inherit
		font-size inherit
		text-align center
		padding inherit
		i
			padding 0
			animation(vl_spin 1s linear infinite)

.vl-btn-ajax-load:not(.disabled):hover,
.vl-btn-ajax-load.disabled
	background-color $lblack

.vl-btn-ajax-load.loaded
	background-color $lblack
	span
		top 100px
	span.icon
		top 0

@keyframes vl_spin
	to
		transform(rotate(360deg))
