/*------------------------------------------------------------------
[Master Stylesheet]

Project: Paragon - WordPress Theme
Version: 1.0

01. Typography
02. Blog
03. Sidebar
04. Comments
05. Portfolio
06. Page 404
07. Shortcodes
08. Particles
09. Additional
10. Shop
11. WordPress Default CSS


-------------------------------------------------------------------*/


$lgray = #fafafa
$black = #111111
$white = #ffffff
$lblack = #3e3e3e
$gray = #bdbdbd
$text = #728080
$color = #21dca4

border-radius()
	-webkit-border-radius arguments
	border-radius arguments

box-shadow()
	-webkit-box-shadow arguments
	box-shadow arguments

transform()
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments
	-o-transform arguments
	transform arguments

transform-origin()
	-ms-transform-origin arguments
	-webkit-transform-origin arguments
	transform-origin arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments

transition-delay()
	-webkit-transition-delay arguments
	transition-delay arguments

animation()
	-webkit-animation arguments
	-moz-animation arguments
	-ms-animation arguments
	-o-animation arguments
	animation arguments

appearance()
	appearance arguments
	-webkit-appearance arguments
	-moz-appearance arguments
	
animation-delay()
	-webkit-animation-delay arguments
	animation-delay arguments

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments

user-select()
	-webkit-user-select arguments
	-moz-user-select arguments
	-ms-user-select arguments
	user-select arguments

backface-visibility()
	-webkit-backface-visibility arguments
	backface-visibility arguments

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
	background-color startColor
	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)



@import 'elements/typography.styl'
@import 'elements/blog.styl'
@import 'elements/sidebar.styl'
@import 'elements/comments.styl'
@import 'elements/portfolio.styl'
@import 'elements/page404.styl'
@import 'elements/shortcodes.styl'
@import 'elements/particles.styl'
@import 'elements/additional.styl'
@import 'elements/shop.styl'
@import 'elements/wordpress.styl'
